{% for alert in alerts %}
    <div>
        <h5>wildfire on {{ alert.ai_reported }}</h5>
        <div style="display: flex">
            <div>

            </div>
        </div>
    </div>
{% endfor %}