<h3>Latest Wildfire Reports</h3>
<div class="alert-content" style="display: flex; flex-direction: column; gap: 10px">
    {% for alert in alerts %}
        <div class="confirmed-alert">
            <p class="larger">Wildfire at [{{ alert.xy.0 }},{{ alert.xy.1 }}] on Day {{ alert.event_day }}
            <p>Reported on Day {{ alert.notification_day }}</p>
        </div>
    {% endfor %}
    {% if alerts|length == 0 %}
        <div class="predicted-alert">
            No alert found
        </div>
    {% endif %}
</div>
<h3>Current Blazewatch Wildfire Forecast</h3>
<div class="alert-content" style="display: flex; flex-direction: column; gap: 10px">
    {% for alert in ai_alerts %}
        <div class="predicted-alert">
            <p class="larger">Predicted Wildfire at [{{ alert.xy.0 }},{{ alert.xy.1 }}] on Day {{ alert.day }}
            <p>Confidence Level: {{ alert.confidence }}%</p>
        </div>
    {% endfor %}
    {% if ai_alerts|length == 0 %}
        <div class="predicted-alert">
            No alert found
        </div>
    {% endif %}
</div>

<style>
    .alert-content p {
        margin-bottom: unset;
    }

    .confirmed-alert {
        border-radius: 15px;
        background: linear-gradient(135deg, #FF6347, #FF4500);
        padding: 20px;
        margin-bottom: 10px;
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease;
    }

    .predicted-alert {
        border-radius: 15px;
        background: linear-gradient(135deg, #1E90FF, #00BFFF);
        padding: 20px;
        margin-bottom: 10px;
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease;
    }

    .confirmed-alert:hover, .predicted-alert:hover {
        transform: scale(1.05);
    }

    .larger {
        font-size: 1.5em;
        color: white;
        font-weight: bold;
    }

    h3 {
        font-size: 2em;
        color: #add8e6;
    }

</style>