<h3>Tweet activity on {{ day }}</h3>
<div class="tweets-content" style="display: flex; flex-direction: column; gap: 10px">
    {% for tweet in tweets %}
        <div class="tweet">
            <p class="larger">Tweeted from [{{ tweet.xy.0}},{{ tweet.xy[0] }}]
            <p class="content">Tweet: {{ tweet.content }}</p>
        </div>
    {% endfor %}
    {% if tweets|length == 0 %}
        <div class="tweet">
            No tweets founds. Make sure that ingress and database are running properly.
        </div>
    {% endif %}
</div>

<style>
    .tweet {
        background: linear-gradient(135deg, #32cd32, #7cfc00);
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
        margin-bottom: 5px;
        transition: all 0.3s ease;
    }

    .tweet:hover {
        transform: scale(1.02);
    }

    .tweets-content p {
        margin-bottom: unset;
        color: #101010;
    }

    .tweets-content {
        height: 90vh;
        padding: 0 6px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .larger {
        font-size: 1.2em;
        font-weight: bold;
    }

    .content {
        font-size: 1em;
        color: #000;
    }
</style>